*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    
}
/*-------------------HEADER------------------------------*/
.header{
    
    height: 949.1px;
    background-size: cover;
    background: url('../img/Hero.jpg') center no-repeat;
    padding-top: 15px;
}
.section{
}
.header-menu{
    
    max-width: 1410px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_list{
    font-family: 'Rubik', sans-serif;
    font-size: 19px;


}
.menu_item{
    color: #08082A;
    text-decoration: none;
    display: inline-block;
    margin: 0 12px;
}
.menu_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    font-size: 30px;
    color: #FF5A09;

}
.banner{


}
.menu_button{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    font-size: #08082A;
}
.header_text{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}


/*-------------------MAIN--------------------------------------*/