*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f3f1ef;
    
}
/*-------------------HEADER------------------------------*/
.header{
    height: 949.1px;
    background-size: cover;
    background: url('../img/Hero.jpg') center no-repeat;
    padding-top: 15px;
}
.container{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 10px;
}
.section{

}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
.menu{
}

.menu_list{
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
}

.menu_link{
}

.menu_item{
    color: #08082A;
    text-decoration: none;
    display: inline-block;
    margin: 0 12px;
}
.menu_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    font-size: 30px;
    color: #FF5A09;
    
}
.menu_link{
    text-decoration: none;
    color: #08082A;
}
.menu_link:hover{
    color: #FF5A09;
}
.header-banner{
    max-width: 1410px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.menu_button{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    font-size: #08082A;
}
.header_text{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
.container_banner_text{
    max-width: 550px;
}
.container_banner_text h3{
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    color: #08082A;
   
}
.container_banner_text p{
}
.header_title{
    max-width: 520px;
}
.header_text{
    font-family: 'Playfair Display', serif;
    color: #2c2c4b;
    font-size: 26px;
}
.menu_button{
    padding-top: 71px;
}
.menu_button
.container_banner_img{
}
.colorText{
    color:#FF5A09;
}
.button_button{
    width: 254.25px;
    height: 72px;
    background-color: #FF5A09;
    color: aliceblue;
    border: none;
    border-radius: 15px;
    border-color: #FF5A09;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_text{
    color: antiquewhite;
    font-size: 20px;
    text-decoration: none;
}
.button_button:hover{
    color: #FF5A09;
    background-color: rgb(255, 255, 255);
}
/*-------------------MAIN--------------------------------------*/
.main{
    background: url('../img/Hero.jpg') center no-repeat;
}
.container_menu{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 10px;
}
.menu{
    
}
.Choose{
    width: 323px;
    height: 80px;
    
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px 20px 0px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Choose_text{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;

}
.Service_Design{
    height: 470px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px 20px 20px 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 74px;
}
.Service_Design h3{
    font-size: 40px;
    
}



.Service_text{
    font-family: 'Rubik', sans-serif;
    color: #08082A;
    width: 503px;
}
.ResourcesS{
    font-size: 25px;
    padding: 0 0 30px 0 ;
    color: #FF5A09;
}
.Service_infomation{
    color: rgb(104, 104, 104);
    font-size: 19px;
    padding: 0 0 40px 0 ;
}
.Service_title{
    padding: 0 0 30px 0 ;
}
.Service_button{
    width: 56px;
    height: 56px;
    background-color: #FF5A09;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Service_button:hover{
    background-color:#4ACF8C;
   
}





.Design_text{
    font-family: 'Rubik', sans-serif;
    color: #08082A;
    width: 503px;
    
}
.ResourcesD{
    font-size: 25px;
    padding: 0 0 30px 0 ;
    color: #4ACF8C;
}
.Design_infomation{
    color: rgb(104, 104, 104);
    font-size: 19px;
    padding:  0 0 40px 0 ;
    
}
.Design_title{
    padding: 0 0 30px 0 ;
}
.Designs_button{
    width: 56px;
    height: 56px;
    background-color: #4ACF8C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Designs_button:hover{
    
    background-color:#FF5A09;
}
/*..................Section..Carousel.........................*/
.carousel{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 10px;
    
}
.Carousel_list{
    padding: 140px 0;
}



/*Carousel_text*/
.carousel_text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.TextC{
    width: 500px;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #08082A;
}

.Carousel_button{
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.Carousel_button_1{
    width: 64px;
    height: 64px;
    background-color: #FF5A09;
    border-radius: 15px;
}
.Carousel_button_2{
    width: 64px;
    height: 64px;
    background-color: #FF5A09;
    border-radius: 15px;
}

/*Carousel_items*/
.carousel_items{
    display: flex;
    justify-content: space-around;
    padding: 76px 0;
}
.Carousel_elem{
    width: 450px;
    height: 670px;
    background-color: #ffffff;
    border-radius: 15px;
  
}
.Ctext{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    padding: 40px 70px 19px 40px;
}
.Video{
    font-family: 'Rubik', sans-serif;
    padding: 0 386px 41px 40px;
    color: #272738;
}
.Cart_img{
    padding: 0 0 0 22px;

}
.cart{
    margin-top: 40px;
    margin-left: 65px;
    width: 320px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart1{
    background-color: #FFF2E4;

}
.cart2{
    background-color: #E4F7FF;

}
.cart3{
    background-color: #FFE5E5;

}

.priceC{
    width: 114px;
    height: 68px;
    border-radius: 15px;
    background-color: #08082A;
}
.Price_Cart{
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    padding: 0 0 0 26px;
}
.Cart_Text{
    color: #E4F7FF;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}
.priceC{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.P1{
    color:#FF5B2E ;

}
.P2{
    color: #00AEBF;

}
.P3{
    color: #FF9900;
}
/*..........Discover...............*/
.Discover{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 10px;
  
    
}
.Discover_block{
    width: 1410px;
    height: 458px;
    background-color: #FF5A09;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.Discover_text{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    width: 700px;
    

}
.Discover_button{
    margin-top: 55px;
    width: 307px;
    height: 84px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DT{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

/*..............footer.......................*/

.footer{
    margin-top: 140px;
    margin: 0 auto;
    max-width: 1514px;
    height: 533px;
    
}
.information{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerF{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}
.follow{
    width: 510px;
    height: 533px;
    border-radius: 15px;
    background-color: #ffffff;
    
}
.OX{
    padding: 110px 375px 55px 56px ;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #FF5A09;
}
.Follow_text{
    padding: 0 0 88px 56px;
    font-size: 17px;
    width: 388px;
    font-family: 'Rubik', sans-serif;
}
.FU{
    font-family: 'Rubik', sans-serif;
    padding: 0 0 0 56px;
    font-size: 20px;
}
.linkF{
    padding: 0 0 0 56px;
}
.container_f{
    width: 124px;
    padding: 0 120px 0 120px;
    height: 190px;
}
.pF{
    margin-top: 49px;
    
}





